.card {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
    border-radius: 0;
    height: 100%;
    box-shadow: none;
    overflow: auto;
}

.card-sidebar {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-gap: 10px;
}

.card-main {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-gap: 10px;
}

.manager-create-user .text {
    background: #fff;
    border: #ddd 1px solid;
    border-radius: 7px;
    height: 34px;
    width: 100%;
    margin-top: 1px;
    padding: 0 15px;
    color: #555555;
    box-shadow: 0 0 2px #ddd;
    transition-duration: 300ms;
}

.manager-create-user .text:focus{
    box-shadow: 0px 0px 8px #ddd;
    border: 1px solid #ddd;
    border-radius: 7px;
    outline: none;
}

.manager-create-user textarea {
    background: #fff;
    border: #ddd 1px solid;
    border-radius: 7px;
    width: 100%;
    margin-top: 1px;
    padding: 2px 15px;
    color: #555555;
    box-shadow: 0 0 2px #ddd;
    transition-duration: 300ms;
}

.manager-create-user textarea:focus {
    box-shadow: 0px 0px 8px #ddd;
    border: 1px solid #ddd;
    border-radius: 7px;
    outline: none;
}


.manager-create-user .btn-code {
    margin-left: 20px;
    background: rgb(67, 199, 223);
    border: #ddd 1px solid;
    border-radius: 7px;
    height: 38px;
    padding: 0 20px;
    color: #fafafa;
    box-shadow: 0 0 4px #ddd;
    transition-duration: 300ms;
    font-weight: 500;
    opacity: 0.8;
}
.manager-create-user .btn-code:hover {
    opacity: 1;
}